version: '3.9'

services:
  fastapi:
    build: ./backend
    container_name: fastapi_service
    ports:
      - "8000:8000"
    depends_on:
      - mongodb
    environment:
      MONGO_URL: "mongodb://mongodb:27017/librarydb"

  mongodb:
    image: mongo:6.0
    container_name: mongodb_service
    restart: always
    ports:
      - "27017:27017"
    volumes:
      - mongo_data:/data/db

volumes:
  mongo_data: